# 4. Loops and Conditionals
---

## Loop

*Loops repeats __block of code__ until the condition is true.*

### For

In [2]:
for i in range(0, 3):
    print(i)

0
1
2

*Above is example of __for__-loop, Here __print(i)__ is __block of code__*

#### Q. What is block of code?

*A __block of code__ is identified by __empty region__, (i.e 4 spaces) at the starting of line (or lines), as well as the line before that block, ends with a __:__ (colon)*

*A __:__ (colon) is mandatory for block level statements.*

*__for__ is block level statement.*

#### Q. What is true condition for above code?

*What range gives us, 0, 1, 2 (but not 3). So above __for__ loop will continue until it will run out of numbers, ie after __2__.*

*__in__ will select each number from __range(0, 3)__ and store it in variable __i__.*

__i__ will have new value on every loop, ie at first it will have __0__, then __1__ and then __2__.

In [3]:
i

2

*Remember __i__ holds the value of last item.*

**Looping through list of names**

In [4]:
names = ['Harry', 'Clara', 'Harold', 'Gimli']

In [5]:
for name in names:
    print(name)

Harry
Clara
Harold
Gimli

**Looping through tuple of ips**

In [6]:
ips = ('192.168.0.5', '192.168.0.55', '192.168.0.14', '192.168.0.67')

In [7]:
for ip in ips:
    print(ip)

192.168.0.5
192.168.0.55
192.168.0.14
192.168.0.67

**Looping through dictionary, by keys**

In [8]:
dct = {
    'name': 'Harry', 
    'age': 42, 
    'profession': 'Foreman', 
    'address': ('12th Street', 'CA')
}

In [9]:
for item in dct:
    print(item)

name
age
profession
address

*here items printed are keys of dictionary*

*If we loop through a dictionary we get keys*

**Get all keys from a dictionary**

In [10]:
dct.keys()

dict_keys(['name', 'age', 'profession', 'address'])

**Looping through all values of dictionary**

In [11]:
for item in dct:
    print(dct[item])

Harry
42
Foreman
('12th Street', 'CA')

**Get all values from a dictionary**

In [12]:
dct.values()

dict_values(['Harry', 42, 'Foreman', ('12th Street', 'CA')])

In [13]:
for item in dct.values():
    print(item)

Harry
42
Foreman
('12th Street', 'CA')

**Get all key, value pair from dictionary**

In [14]:
for item in dct:
    print('Key: {}, Value: {}'.format(item, dct[item]))

Key: name, Value: Harry
Key: age, Value: 42
Key: profession, Value: Foreman
Key: address, Value: ('12th Street', 'CA')

**OR**

In [15]:
for key, value in dct.items():
    print('Key: {}, Value: {}'.format(key, value))

Key: name, Value: Harry
Key: age, Value: 42
Key: profession, Value: Foreman
Key: address, Value: ('12th Street', 'CA')

**How?**

In [16]:
dct.items()

dict_items([('name', 'Harry'), ('age', 42), ('profession', 'Foreman'), ('address', ('12th Street', 'CA'))])

*__dct.items()__ gives us list of tuples of key, value pair.*

*So how are key value is assign to each of variable __key__, __value__.*

### Tuple Assignment

*In Python a variable can be assigned in pairs, such as*

In [20]:
name = 'Harry'
age = 11

In [22]:
name

'Harry'

*Above can be written as*

In [26]:
name, age = 'Ron', 11

*Here right hand side is assigned to left hand side one by one. i.e first is assigned to first variable in left hand side.*

In [27]:
name

'Ron'

*The above assignment is called tuple assignment, both sides are tuple, but we don't need __()__ here in this case.*

In [28]:
(name, age) = ('Harold', 44)

*Eg. __a1, b1 = (0, 1)__ is same as __a1, b1 = 0, 1__*

since (0, 1) is a tuple and it is unpacked ( taken out of tuple ), this process is called unpacking

In [29]:
name

'Harold'

*Here Right hand side tuple is unpacked and assigned to each item on left hand side*

### How this relates to looping through items of dictionary

In [30]:
for item in dct.items():
    print(item)

('name', 'Harry')
('age', 42)
('profession', 'Foreman')
('address', ('12th Street', 'CA'))

In [31]:
for item in dct.items():
    key, value = item # ('profession', 'Foreman')
    print("Key {} with value {}".format(key, value))

Key name with value Harry
Key age with value 42
Key profession with value Foreman
Key address with value ('12th Street', 'CA')

In [32]:
for key, value in dct.items():
    print("key {} has value {}".format(key, value))

key name has value Harry
key age has value 42
key profession has value Foreman
key address has value ('12th Street', 'CA')

*Above, each item from __dct.items()__ is unpacked and assigned to __key, value__ inside for loop*